streamlit
openai
langchain-openai
langchain-text-splitters                                               
langchain-community
faiss-cpu                                                              
pypdf           
sentence-transformers